body{
    background-color:pink;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    background-color: #FFFF;
    padding: 20px;
    border-radius: 1px;
    border-radius: 5px;
    width: 100%;
    max-width: 500px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h2{

    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
